/* Error: expected "}".
 *   ,
 * 2 |     background-image: url("../img/mh-hero.webp");
 *   |                                                  ^
 *   '
 *   sass\pages\_mh.scss 2:50    @import
 *   sass\pages\_pages.scss 3:9  @import
 *   sass\styles.scss 3:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a   \2577 \a 2 \2502      background-image: url("../img/mh-hero.webp");\a   \2502                                                   ^\a   \2575 \a   sass\\pages\\_mh.scss 2:50    @import\a   sass\\pages\\_pages.scss 3:9  @import\a   sass\\styles.scss 3:9        root stylesheet';
}
