.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding:5rem 0 5rem 0;
}

.banner-centered{ // use for divider image between sections
    width: 80vw;
    max-width: 450px;
    margin: 0 auto;
    padding:4rem 0 4rem 0;
}

.flex-container{
    display: flex;
    
}

// Grid Container with 2 columns and 1 row
.grid-container{
    display: grid;
    gap: 1rem;
    place-items: center;
}

@media (min-width: $maxsize){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

/// Grid container with 1 row and auto columns
.grid-container-auto{
    display:grid ;
    gap: 1rem;
}

@media (min-width: $maxsize){
    .grid-container-auto{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }

    ///increases column widths 
    .grid-wide-col{
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    }
}

.hero-pages{
    background-image: url("../img/hero-menu-img.webp");
    min-height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgba(9, 6, 6, 0.628);
    
    display: grid;
    place-items: center;
  
}




