.hero{
    min-height: calc(100vh - 132px);
   
    padding:3rem;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
   

}



.herotitle{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 300;
    color: $lighttext;
}

.hero-profile-image{
    max-width: 350px;
    height: 100%;
    border: 15px solid $secondary;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.hero-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: end;
}

.profile-name{
    font-size: 2rem;
    font-weight: 300;
}

.profile-title{
    font-size: 1.75rem;
    font-weight: 900;
    color: $secondary;
    font-family: $handwriting;
}

.herotext{
    font-weight: 300;
    font-size: 1.55rem;
    line-height: 1.75;
display: flex;
i{
    margin-right: 1rem;
    color: rgba($secondary, 0.25);
}
 
}

// Settings for wide screens
@media (min-width: $maxsize){
    .hero{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 0.5fr);
    gap: 1rem;
    background-image: url("../img/lilly.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    max-height: 750px;
    }

    .hero-profile{
        grid-row: 1/ span ;
        grid-column: 3/5;
       
    
    }

    .herotext{
        grid-row: 2/3;
        grid-column: 1/3;
        place-self: center;

    }

    .herotitle{
        grid-row: 1/1;
        grid-column: 1/4;
        align-self: center;
    }


}
